<div class="order-image-container">
  <img src="../../assets/img/burger icon.svg" alt="Main Icon" />
</div>
<div class="orderForm">
  <form (submit)="orderBurger(OrderForm)" #OrderForm="ngForm">
    <mat-form-field class="example-full-width">
      <input
        ngModel
        #burgerName="ngModel"
        matInput
        placeholder="Name Your baby burger"
        name="burgerName"
        [value]="name"
      />
    </mat-form-field>
    <div class="cost-section">
     <span> Cost: <strong>$ {{cost}}</strong></span>
    </div>
    <div class="tipperSection">
      <ul>
        <li>
          <mat-card>
            <img src="../../assets/img/onion icon.svg" alt="onion" />
            <div class="tipperActions">
              <mat-icon *ngIf="onionQ > 0" (click)="decreaseOnionQ()">remove</mat-icon>
              <label  name="onions">{{onionQ}}</label>
              <mat-icon (click)="increaseOnion()">add</mat-icon>
            </div>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <img src="../../assets/img/lettuce icon.svg" alt="lettuce" />
            <div class="tipperActions">
              <mat-icon *ngIf="lettuceQ > 0" (click)="decreaseLettuceQ()" >remove</mat-icon>
              <label name="lettuces">{{lettuceQ}}</label>
              <mat-icon (click)="increaseLettuceQ()" >add</mat-icon>
            </div>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <img src="../../assets/img/chesse icon.svg" alt="cheese" />
            <div class="tipperActions">
              <mat-icon *ngIf="chesseQ > 0" (click)="decreaseCheeseQ()">remove</mat-icon>
              <label name="cheeses">{{chesseQ}}</label>
              <mat-icon (click)="increaseCheeseQ()">add</mat-icon>
            </div>
          </mat-card>
        </li>
      </ul>
    </div>
    <button *ngIf="mode ==='create' " class="orderButton" type="submit">Buy !</button>
    <button *ngIf="mode ==='edit'" class="orderButton" type="submit">Order Again!</button>
    <button [routerLink]="['/']" class="homeButton">Home</button>
  </form>
</div>
