<div>
  <ul>
    <li>
      <mat-card>
        Burger Name
        <button [routerLink]="['/']" class="detailsButton">Details</button>
      </mat-card>
    </li>
    <li>
      <mat-card>
        Burger Name
        <button [routerLink]="['/']" class="detailsButton">Details</button>
      </mat-card>
    </li>
    <li>
      <mat-card>
        Burger Name
        <button [routerLink]="['/']" class="detailsButton">Details</button>
      </mat-card>
    </li>
    <li>
      <mat-card>
        Burger Name
        <button [routerLink]="['/']" class="detailsButton">Details</button>
      </mat-card>
    </li>
  </ul>
</div>
<div class="actions">
  <button class="homeButton"  [routerLink]="['/']">Home</button>
</div>
